*{
    padding: 0;
    margin: 0;

}
body{
background-image: url(./img/world.png);
background-repeat: no-repeat;
background-attachment: fixed;
background-size: 100%;
    
}


header{
    background-color: black;
    height: 30px;
    color: aqua;

}
.icons{
    display: flex;
    justify-content: end;

}


.personagen{
    position: absolute;
    top: 19%;
    width: 30%;
    height: 81%;
    left: 64%;
}
.logo{
    position: absolute;
    top: 15%;
    left: 54.56%;
    width: 40%;
    height: 79%;
}

.loguinho{
    position: absolute;
    top: 78%;
    left: 55%;
    width: 17%;
    height: 13%; 
}



.vetor1{
    position: absolute;
    height: 6%;
    width: 2%;
    top: 3%;
    left: 8.45%;

    

}

.menu{
    position: absolute;
    top: 3.10%;
    left: 9%;
    width: 85%;
    height: 6%;
    

}

.vector2{
    position: absolute;
    top: 3%;
    left: 92%;
    height: 6%;
    width: 3%;
}
.inicio{
    position: absolute;
    top: 4%;
    left: 12%;
}

.Apex{
    position: absolute;
    top: 32%;
    left: 6%;
    width: 15%;
    height: 20%; 

}

.texto{
    position: absolute;
    top: 57%;
    left: 6%;
    width: 50%;
    height: 20%; 
    font-weight: 100;
    color: white;
    font-size: 3vh;
    font-family: 'Oxanium', cursive;

}